SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/core_banking?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=core
SPRING_DATASOURCE_PASSWORD=core
SPRING_BATCH_JOB_ENABLED=false
SPRING_MAIN_WEB_APPLICATION_TYPE=servlet
CORE_BANKING_ACCOUNT_LOCK_MODE=pessimistic
CORE_BANKING_SEED_ACCOUNT_COUNT=1000
CORE_BANKING_SEED_TRANSFER_COUNT=10000
