SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/core_banking?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=core
SPRING_DATASOURCE_PASSWORD=core
SPRING_BATCH_JOB_ENABLED=false
SPRING_MAIN_WEB_APPLICATION_TYPE=servlet
SPRING_CACHE_TYPE=none
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
CORE_BANKING_CACHE_TTL=60s
CORE_BANKING_ACCOUNT_CACHE_TTL=30s
CORE_BANKING_LEDGER_CACHE_TTL=60s
CORE_BANKING_ACCOUNT_LOCK_MODE=pessimistic
CORE_BANKING_SEED_ACCOUNT_COUNT=1000
CORE_BANKING_SEED_TRANSFER_COUNT=10000
